{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kesalahan Sistem</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{- asset('bundles/symfonianindonesiaadmin/css/bootstrap.min.css') -}}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
           body{
                background: url('{{ asset('bundles/app/img/indonesia.jpg') }}') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                color: #3C3C3C;
            }

            #outer {
                display: table;
                position: absolute;
                height: 100%;
                width: 100%;
            }

            #middle {
                display: table-cell;
                vertical-align: middle;
            }

            #inner {
                margin-left: auto;
                margin-right: auto; 
                width: 550px;
                padding: 10px;
                background: rgba(255, 255, 255, 0.54);
                margin: auto;
                border-radius: 5px;
            }

            h3{
                margin: 7px;
                font-weight: bold;
            }

            .margin-top-17 {
                margin-top: 17px;
            }

            img{
                max-height: 220px;
            }

            #btn-area{
                margin-top: 50px;
            }

            #socmed{
                margin-top: 17px;
            }

            #socmed a{
                text-decoration: none;
                margin: 10px;
            }

            #socmed a i{
                margin-right: 5px;
            }

        </style>
    </head>
    <body class="text-center">
        <div id="outer">
            <div id="middle">
                <div id="inner" 
                <div id="wrapper" class="text-center">
                    <h3 class="text-uppercase font-bold">Kesalahan Sistem</h3>
                    <h3>Terjadi Kesalahan Pada Sistem</h3>
                    <h3>Kami Akan Segera Memperbaikinya</h3>
                    <div id="btn-area">
                        <a class="btn btn-success" href="/">Kembali Ke Halaman Depan</a>
                    </div>
                    <img src="{{ asset('bundles/app/img/logo.jpg') }}" class="img-rounded margin-top-17" />
                    <div id="socmed">
                        <a  href="https://www.facebook.com/groups/symfonian.indo" target="_blank" class="btn btn-default"><i class="fa fa-facebook"></i> Facebook Group</a>
                        <a  href="https://github.com/SymfonyId" target="_blank" class="btn btn-default"><i class="fa fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endspaceless %}